<div class="col-sm-offset-2 col-sm-10">
  <h1> New task</h1>
</div>
<br>
<%= form_for(@tasks) do |f| %>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
</div>
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control', rows: 3 %>
  </div>
</div>

<div class="col-sm-offset-2 col-sm-10">
  <br>
  <%= f.submit class: 'btn btn-primary btn-lg' %>
  <% end %>
  <br>
  <br>

  <%= link_to "back to list" , tasks_path, class: 'btn btn-info'%>
</div>
